.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--font-inter);
  background-color: #FFFFFF;
  color: #4D5053;

}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.nav{
  color: #414040;
  font-size: 16px;
  gap: 32px;
  display: flex;
}
.nav a:hover {
  color: #7d7d7d;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 3rem;
}

.listDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1260px;
  min-width: 400px;
}

.card {
  list-style: none;
  margin: 1rem;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px #89838370;
}
.cardImage{
  margin: 0;
  width: 280px;
  height: auto;
}
.cardInfo{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardInfo .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.cardInfo h2 {
  font-size: 18px;
  font-weight: 600;
  color: #2F3133;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.cardInfo p {
  font-size: 13px;
  font-weight: 500;
  color: #7A7D80;
}
.infoImage {
  color: #AFAFB0;
}

.footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 2rem;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.footer a {
  margin: 4px;
  font-weight: 600;
  color: rgb(43, 106, 202);
}
.footer a:hover{
  color: rgb(209, 177, 36);
}

@media (max-width: 600px) {
  .list {
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}